*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 14px;
    line-height: 24px;
    font-family: 'Libre Franklin', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Libre Franklin', sans-serif;
}
a, a:hover{
    text-decoration: none;
}
/* main css start */
/* header-section code goes here **/
.header-section{
    width: 100%;
    background: url("../img/hero1.png") center top no-repeat;
    background-size: cover;
}
.menu-section{
    width: 100%;
}
.menu-section .bg-light{
    background: transparent !important;
     
}

.menu-section .navbar-light .navbar-nav .active>.nav-link{
    color: #511de5;
    font-weight: 600;
    background: url("../img/layer.png") center bottom no-repeat;
}

.menu-section .navbar-light .navbar-nav .nav-link {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 600;
    margin: 0px 15px;
}
.menu-section .navbar-light .navbar-nav .nav-link:hover{
    color: #511de5;
    background: url("../img/layer.png") center bottom no-repeat;
    background-size: contain;
}
.menu-section .right-login .nav-link{
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 600;
    margin: 0px 15px;
}
.menu-section .right-login .nav-link:hover{
    background: url("../img/layer.png") center bottom no-repeat;
    background-size: contain;
    color: #511de5;
}
.menu-section .right-login .btn-info {
    padding: 10px 35px;
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 35px;
    background: linear-gradient(to right, #511de5 40%, #157cf8);
    border: 2px solid #511de5;
    color: #fff;
    font-weight: 600;
}
.menu-section .right-login .btn-info:hover{
    color: #511de5;
    background: transparent;
    border: 2px solid #511de5;
    transition: 1s;
}

/* banner */
.banner-section{
    width: 100%;
    padding: 60px 0px 90px;
}
.banner-section .banner-inner{
    width: 100%;
    padding: 90px 0px 120px;
}
.banner-section .banner-inner h1{
    font-size: 52px;
    line-height: 58px;
    font-weight: 900;
    animation: textanimation2 1s ease-in-out;
}
@keyframes textanimation2 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.banner-section .banner-inner h1 span{
    color:#511de5; ;
}
.banner-section .banner-inner .btn-info{
    padding: 8px 35px;
    margin: 30px 0px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
    text-transform: uppercase;
    border-radius: 35px;
    letter-spacing: 3px;
    box-shadow: 2px 5px 15px rgba(45, 52, 54, 0.5);
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #1a1a1a;
   
}
.banner-section .banner-inner .fa{
    margin-left: 5px;
}
.banner-section .banner-inner .btn-info:hover{
    background: linear-gradient(to right, #511de5 40%, #157cf8);
    border: 1px solid #511de5;
    color: #fff;
    transition: 0.8s;
   
}
/* highlight-section */
.highlight-section{
    width: 100%;
    position: relative;
    background: url("../img/R1.png") center no-repeat;
    block-size: cover;
    padding: 40px 0px;
}
.highlight-section .absu {
    position: absolute;
    top: -156%;
    left: 0;
}
.highlight-section h2{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 0px;
}
/* feature start */
.feature{
    width: 100%;
    padding: 100px 0px 0px ;
    
   
}
.feature .feature-inner{
    width: 100%;
    padding:120px 120px 150px ;
    background: url("../img/fbg.png") center bottom no-repeat;
    background-size: cover;
    box-shadow: 1px 4px 10px #fff;
    
}
.feature-inner h1{   
    font-size: 52px;
    line-height: 55px;
    font-weight: 900;
    color: #1a1a1a;
    margin-bottom: 0px;
    padding-bottom:30px;
}
.feature-inner p{   
    font-size: 14px;
    line-height: 28px;
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 80px;
}
.feature-inner h4 strong{   
    font-size: 135px;
    line-height: 55px;
    font-weight: 700;
    color: #511de5;
    margin-bottom: 20px;

}
.feature-inner h4 strong span{   
    font-size: 135px;
    line-height: 55px;
    font-weight: 700;
    color: #511de5;
    background:-webkit-linear-gradient(200deg,#157cf8, #511de5  );
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    margin-bottom: 20px;

}
.feature-inner h4 span{   
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 20px;


}
.client{
    width: 100%;
    padding: 40px 0px;
    text-align: center;
}
.client img{
    width: 80%;
}

/* intro-quote */
.intro-quote{
    width: 100%;
    padding:100px 0px ;
    background: url("../img/desing.png") center top no-repeat;
    background-size: cover;
}
.pic-quote{
    width: 100%;
     padding: 200px 100px;
    background: url("../img/Quote.png") center center no-repeat;
    background-size: contain;
}
.pic-quote p{
    font-size: 14px;
    color: #fff;
    margin-left:20px 0px 25px 25px;
    padding-left: 20px;
}
.pic-quote h6{
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    margin-left:20px 0px 25px 25px;
    padding-left: 20px;
}
.quote-des{
    width: 100%;
    padding: 200px 100px;
}
.quote-des h1{
    font-size: 38px;
    line-height: 48px;
    font-weight: 900;
    color: #000;
    margin-bottom: 20px;
}
.quote-des .btn-info{
    padding: 8px 35px;
    margin: 30px 0px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
    text-transform: uppercase;
    border-radius: 35px;
    letter-spacing: 3px;
    box-shadow: 2px 5px 15px rgba(45, 52, 54, 0.3);
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #1a1a1a;  
}
.quote-des .fa{
    margin-left: 5px;
}
.quote-des .btn-info:hover{
    background: linear-gradient(to right, #511de5 40%, #157cf8);
    border: 1px solid #511de5;
    color: #fff;
    transition: 0.8s;
}
/* efficient */
.efficient{
    width: 100%;
    padding: 30px 0px;
}
.efficient .inner-effi{
    width: 100%;
    padding: 30px 0px;
    margin-top: 45px;
}
.efficient .inner-effi h2{
    font-size: 42px;
    line-height: 50px;
    font-weight: 900;
    color: #000000;
    margin-bottom: 23px;
}
.efficient .inner-effi p{
    font-size: 13px;
    line-height: 23px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 30px;
}
.efficient .inner-effi h6{
    font-size: 15px;
    line-height: 25px;
    font-weight: 700;
    color: #000000;
    padding: 3px 0px;
    margin-bottom: 10px;
   
}
.efficient .inner-effi h6 img{
    margin-right: 10px;
}
.efficient .inner-effi .fa{
    margin-left: 5px;
}
.efficient .inner-effi .btn-info{
    padding: 10px 35px;
    margin: 40px 0px 30px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
    text-transform: uppercase;
    border-radius: 35px;
    letter-spacing: 3px;
    background: linear-gradient(to right, #511de5 40%, #157cf8);
    border: 2px solid #f2f2f2;
    color: #fff;  

}

.efficient .inner-effi .btn-info:hover{
    background: #fff;
    border: 2px solid #511de5;
    color: #511de5;
    transition: 1s;
 
}


/* desing */
.desing{
    width: 100%;
    padding: 60px 0px;
    background: #fcfcfc;
}
.title{
    width: 100%;
    padding: 30px 0px 60px;
    text-align: center;
}
.title h1{
    font-size: 42px;
    line-height: 50px;
    font-weight: 900;
    color: #000000;
    margin-bottom: 30px;
}
.title p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 30px;
}
.design-inner{
    width: 100%;
    padding: 30px 40px;
    text-align: center;
}
.design-inner img{
    mix-blend-mode: darken;
    margin-bottom: 10px;
}
.design-inner h4{
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 15px;
}
.design-inner p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 30px;
}
.desing .bordr{
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
}
/* testimonial */
.testimonial{
    width: 100%;
    padding: 80px 0px;
}
.testimonial .title{
    width: 100%;
    padding: 30px 0px 60px;
    text-align: center;
}
.testimonial .title h1{
    font-size: 55px;
    line-height: 65px;
    font-weight: 900;
    color: #000000;
    margin-bottom: 25px;
}

.testi-inner{
    width: 100%;
    padding: 10px 20px 20px;
    background: url("../img/f1.png") center top no-repeat;
    background-size: cover;
    box-shadow: 1px 4px 10px #ccc;
    opacity: .5;
}
.testi-inner .text-inner{
    width: 100%;
    padding: 60px 0px ;
    border: 1px solid #f2f2f2;
    text-align: center;

}
.testi-inner .text-inner h5{
    font-size: 14px;
    line-height: 25px;
    margin: 40px 0px;
    font-weight: 700;
}
.testi-inner .client-inner{
    width: 100%;
    padding: 30px 0px 0px;
    text-align: center;

}
.testi-inner .client-inner h4{
    font-size: 14px;
    line-height: 25px;
    margin: 20px 0px 5px;
    text-transform: uppercase;
    font-weight: 700;
}
.testi-inner .client-inner p{
    font-size: 14px;
    line-height: 24px;
    color: #000;

}
.testi-inner:hover{
    opacity: 1;
    box-shadow: 0px 2px 4px 1px  #511de5 ;
    animation: 0.5s;
}

.testi-inner:hover .text-inner h5{   
    font-size: 15px;
    font-weight: 700;
    color: #511de5;
    background:-webkit-linear-gradient(190deg, #0c8afb 30% , #511de5 100%  );
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    transition: 1s;
}
/* footer-section */
.footer-section{
    width: 100%;
    padding: 100px 0px 50px 0px;
    background: url("../img/bg.png") center bottom no-repeat;
    background-size: contain;
}
.footer-section .faq{
    width: 100%;
    padding: 90px;
    background: #fff;
    box-shadow: 1px 4px 10px #ccc;

}
.faq .title{
    width: 100%;
    padding: 30px 0px 60px;
    text-align: center;
}
.faq .title h1{
    font-size: 50px;
    line-height: 60px;
    font-weight: 900;
    color: #000000;
    margin-bottom: 25px;
}
.faq-inner .card-body{
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}
.faq-inner .card {
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: 0px;
}
.faq-inner .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 12px;
}
.faq-inner .card-header{
    padding: .75rem 0rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 0px;
}
.faq-inner .btn-link:hover{
    color:#511de5 ;
    text-decoration: none;
}
.faq-inner .btn:focus{
    outline: 0;
    box-shadow: none;

}
.faq-inner .btn-link:focus{
    text-decoration: none;
    color: #511de5;
}
.faq-inner .btn-link{
    font-weight: 700;
    color: #000;
    font-size: 16px;
    text-decoration: none;
}
.faq-inner{
    width: 100%;
    padding: 0px 40px;
}
/* footer-section / footer last part */
.footer-section .footer-last{
    width: 100%;
    padding: 70px 0px 0px 0px;

}
.footer-section .footer-last a{
    font-size: 16px;
	font-weight: 500;
	color: #fff;
    padding-left: 30px;
    margin-left: 0px;
    
}
.footer-section .footer-last p{
    font-size: 15px;
	font-weight: 500;
	color: #fff;
    padding-left: 136px;
}
.footer-section .footer-last a:hover{
    text-decoration: none;
	color: #000;
}




  
